<h1>moyerock's App</h1>

<p>Hi <%= @user.name %></p>

<p>
  Welcome to the moyerock's App! Click on the link below to reset your password:
</p>

<%= link_to "Activate", passsword_resets_edit_url(@user.activation_token,
                                           email: @user.email) %>