@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

div.container {
  width: 99.9%;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  display: flex;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  flex: 0 0 75%;
}

footer ul {
  margin: 0 0;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}